.top-loginlink,
a.top-loginlink:link,
a.top-loginlink:visited,
a.top-loginlink:active {
  padding: 5px 29px 6px 17px;
  background-image: url(../images/gray-arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  color: #BBB;
}
.open > a.top-loginlink,
a.top-loginlink:hover {
  background-color: #f6ac00 !important;
  background-image: url(../images/white-arrow.png);
  color: #fff;
}


